:root {
  --mainBlack: #1e1014;
  --mainWhite: #f2f4f3;
  --mainRed: #f52f5f;
}

body {
  font-family: "Roboto Slab", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text-title {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
